In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
	.master("local[*]") \
	.appName('test') \
	.config("spark.executor.memory", "4g") \
	.config("spark.driver.memory", "4g") \
	.getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
2024-03-04 14:28:42,478 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [4]:
df_green.createOrReplaceTempView('green')

In [5]:
df_green_revenue = spark.sql("""
SELECT
    date_trunc('hour', lpep_pickup_datetime) AS hour,
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
ORDER BY
    1, 2
""")

In [6]:
df_green_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-01 00:00:00|   7| 769.7299999999998|            45|
|2020-01-01 00:00:00|  17|195.03000000000003|             9|
|2020-01-01 00:00:00|  18|               7.8|             1|
|2020-01-01 00:00:00|  22|              15.8|             1|
|2020-01-01 00:00:00|  24|              87.6|             3|
|2020-01-01 00:00:00|  25|             531.0|            26|
|2020-01-01 00:00:00|  29|              61.3|             1|
|2020-01-01 00:00:00|  32| 68.94999999999999|             2|
|2020-01-01 00:00:00|  33|317.27000000000004|            11|
|2020-01-01 00:00:00|  35|129.96000000000004|             5|
|2020-01-01 00:00:00|  36|295.34000000000003|            11|
|2020-01-01 00:00:00|  37|            175.67|             6|
|2020-01-01 00:00:00|  38| 98.78999999999999|             2|
|2020-01-01 00:00:00|  40|            168.98|             8|
|2020-01-01 00:00:00|  41|1363.9599999999987|            84|
|2020-01-01 00:00:00|  42| 799.7600000000001|            52|
|2020-01-01 00:00:00|  43|            107.52|             6|
|2020-01-01 00:00:00|  47|              13.3|             1|
|2020-01-01 00:00:00|  49|266.76000000000005|            14|
|2020-01-01 00:00:00|  51|              17.8|             2|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [7]:
df_green_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/green', mode='overwrite')

In [8]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [9]:
df_yellow.createOrReplaceTempView('yellow')

In [10]:
df_yellow_revenue = spark.sql("""
SELECT
    date_trunc('hour', tpep_pickup_datetime) AS hour,
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
ORDER BY
    1, 2
""")

In [11]:
df_yellow_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-01 00:00:00|   3|              25.0|             1|
|2020-01-01 00:00:00|   4|1004.3000000000001|            57|
|2020-01-01 00:00:00|   7| 455.1700000000001|            38|
|2020-01-01 00:00:00|  10|             42.41|             2|
|2020-01-01 00:00:00|  12|             107.0|             6|
|2020-01-01 00:00:00|  13|1214.7999999999997|            56|
|2020-01-01 00:00:00|  14|               8.8|             1|
|2020-01-01 00:00:00|  15|             34.09|             1|
|2020-01-01 00:00:00|  17|220.20999999999998|             8|
|2020-01-01 00:00:00|  18|               5.8|             1|
|2020-01-01 00:00:00|  24| 754.9500000000003|            45|
|2020-01-01 00:00:00|  25|            324.35|            16|
|2020-01-01 00:00:00|  32|              18.0|             1|
|2020-01-01 00:00:00|  33|            255.56|             8|
|2020-01-01 00:00:00|  34|              19.3|             1|
|2020-01-01 00:00:00|  36|            109.17|             3|
|2020-01-01 00:00:00|  37|161.60999999999999|             7|
|2020-01-01 00:00:00|  40| 89.97000000000001|             5|
|2020-01-01 00:00:00|  41|1256.5300000000002|            80|
|2020-01-01 00:00:00|  42| 635.3500000000001|            46|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [12]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/yellow', mode='overwrite')

In [19]:
df_green_revenue = spark.read.parquet('data/report/revenue/green')
df_yellow_revenue = spark.read.parquet('data/report/revenue/yellow')

In [20]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [21]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')

In [22]:
df_join.write.parquet('data/report/revenue/total', mode='overwrite')

In [23]:
df_join.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|   4|              null|                null|1004.3000000000001|                   57|
|2020-01-01 00:00:00|  10|              null|                null|             42.41|                    2|
|2020-01-01 00:00:00|  56|             99.69|                   3|              18.1|                    2|
|2020-01-01 00:00:00|  61|            526.71|                  17|            146.64|                    3|
|2020-01-01 00:00:00|  65|199.49000000000004|                  10|            409.35|                   19|
|2020-01-01 00:00:00|  74|317.09000000000015|                  24| 586.2100000000002|                   47|
|2020-01-01 00:00:00|  88|              null|                null| 823.8000000000002|                   36|
|2020-01-01 00:00:00| 114|              null|                null| 6256.430000000008|                  333|
|2020-01-01 00:00:00| 116| 328.7600000000001|                  18| 561.5100000000001|                   34|
|2020-01-01 00:00:00| 159|              13.8|                   1|              58.8|                    2|
|2020-01-01 00:00:00| 165|             66.14|                   2|              null|                 null|
|2020-01-01 00:00:00| 189|            102.75|                   7|126.00999999999999|                   10|
|2020-01-01 00:00:00| 190|             61.97|                   4|              54.1|                    3|
|2020-01-01 00:00:00| 216|            181.37|                   6|            100.32|                    3|
|2020-01-01 00:00:00| 230|              null|                null|              24.8|                    1|
|2020-01-01 00:00:00| 233|              null|                null|2028.8199999999988|                  121|
|2020-01-01 00:00:00| 247|            117.66|                   5|               9.3|                    1|
|2020-01-01 00:00:00| 248|              null|                null|              25.5|                    1|
|2020-01-01 00:00:00| 249|              null|                null| 7790.170000000009|                  422|
|2020-01-01 00:00:00| 255| 666.3399999999998|                  28| 537.6600000000001|                   27|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [24]:
df_join = spark.read.parquet('data/report/revenue/total')

In [25]:
df_join

DataFrame[hour: timestamp, zone: int, green_amount: double, green_number_records: bigint, yellow_amount: double, yellow_number_records: bigint]

In [26]:
df_join.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|  12|              null|                null|             107.0|                    6|
|2020-01-01 00:00:00|  15|              null|                null|             34.09|                    1|
|2020-01-01 00:00:00|  17|195.03000000000003|                   9|220.20999999999998|                    8|
|2020-01-01 00:00:00|  25|             531.0|                  26|            324.35|                   16|
|2020-01-01 00:00:00|  29|              61.3|                   1|              null|                 null|
|2020-01-01 00:00:00|  32| 68.94999999999999|                   2|              18.0|                    1|
|2020-01-01 00:00:00|  47|              13.3|                   1|               8.3|                    1|
|2020-01-01 00:00:00|  72|             67.53|                   2|              null|                 null|
|2020-01-01 00:00:00|  80|            364.32|                  13|             371.4|                   20|
|2020-01-01 00:00:00|  93|              null|                null|210.28000000000003|                    3|
|2020-01-01 00:00:00| 100|              null|                null| 473.6700000000001|                   24|
|2020-01-01 00:00:00| 107|              null|                null| 6441.030000000006|                  380|
|2020-01-01 00:00:00| 126|              null|                null|             170.6|                    2|
|2020-01-01 00:00:00| 133|              null|                null|              27.3|                    1|
|2020-01-01 00:00:00| 158|              null|                null|           4295.58|                  226|
|2020-01-01 00:00:00| 163|              null|                null|2652.9799999999977|                  152|
|2020-01-01 00:00:00| 167|             88.89|                   5|               9.8|                    1|
|2020-01-01 00:00:00| 188|            127.57|                   6|            105.72|                    5|
|2020-01-01 00:00:00| 192|              12.3|                   1|              null|                 null|
|2020-01-01 00:00:00| 198|            195.11|                   5|            138.89|                    4|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [28]:
df_zones = spark.read.parquet('data/pq/zones/')

In [29]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [30]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [32]:
df_result.drop('LocationID').show()

+-------------------+----+------------------+--------------------+------------------+---------------------+---------+--------------------+------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|  Borough|                Zone|service_zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+---------+--------------------+------------+
|2020-01-01 00:00:00|  12|              null|                null|             107.0|                    6|Manhattan|        Battery Park| Yellow Zone|
|2020-01-01 00:00:00|  15|              null|                null|             34.09|                    1|   Queens|Bay Terrace/Fort ...|   Boro Zone|
|2020-01-01 00:00:00|  17|195.03000000000003|                   9|220.20999999999998|                    8| Brooklyn|             Bedford|   Boro Zone|
|2020-01-01 00:00:00|  25|             531.0|                  26|            324.35|                   16| Brooklyn|         Boerum Hill|   Boro Zone|
|2020-01-01 00:00:00|  29|              61.3|                   1|              null|                 null| Brooklyn|      Brighton Beach|   Boro Zone|
|2020-01-01 00:00:00|  32| 68.94999999999999|                   2|              18.0|                    1|    Bronx|           Bronxdale|   Boro Zone|
|2020-01-01 00:00:00|  47|              13.3|                   1|               8.3|                    1|    Bronx|  Claremont/Bathgate|   Boro Zone|
|2020-01-01 00:00:00|  72|             67.53|                   2|              null|                 null| Brooklyn|East Flatbush/Rem...|   Boro Zone|
|2020-01-01 00:00:00|  80|            364.32|                  13|             371.4|                   20| Brooklyn|   East Williamsburg|   Boro Zone|
|2020-01-01 00:00:00|  93|              null|                null|210.28000000000003|                    3|   Queens|Flushing Meadows-...|   Boro Zone|
|2020-01-01 00:00:00| 100|              null|                null| 473.6700000000001|                   24|Manhattan|    Garment District| Yellow Zone|
|2020-01-01 00:00:00| 107|              null|                null| 6441.030000000006|                  380|Manhattan|            Gramercy| Yellow Zone|
|2020-01-01 00:00:00| 126|              null|                null|             170.6|                    2|    Bronx|         Hunts Point|   Boro Zone|
|2020-01-01 00:00:00| 133|              null|                null|              27.3|                    1| Brooklyn|          Kensington|   Boro Zone|
|2020-01-01 00:00:00| 158|              null|                null|           4295.58|                  226|Manhattan|Meatpacking/West ...| Yellow Zone|
|2020-01-01 00:00:00| 163|              null|                null|2652.9799999999977|                  152|Manhattan|       Midtown North| Yellow Zone|
|2020-01-01 00:00:00| 167|             88.89|                   5|               9.8|                    1|    Bronx|  Morrisania/Melrose|   Boro Zone|
|2020-01-01 00:00:00| 188|            127.57|                   6|            105.72|                    5| Brooklyn|Prospect-Lefferts...|   Boro Zone|
|2020-01-01 00:00:00| 192|              12.3|                   1|              null|                 null|   Queens|     Queensboro Hill|   Boro Zone|
|2020-01-01 00:00:00| 198|            195.11|                   5|            138.89|                    4|   Queens|           Ridgewood|   Boro Zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+---------+--------------------+------------+
only showing top 20 rows

In [33]:
df_result.drop('LocationID', 'zone').write.parquet('tmp/revenue-zones')